body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:112px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:24px;
  background:inherit;
  background-color:rgba(2, 158, 182, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:92px;
  height:24px;
}
#u266_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:24px;
  background:inherit;
  background-color:rgba(2, 158, 182, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 70px 0px 0px rgba(0, 0, 0, 0.0980392156862745) inset;
  -webkit-box-shadow:0px 70px 0px 0px rgba(0, 0, 0, 0.0980392156862745) inset;
  box-shadow:0px 70px 0px 0px rgba(0, 0, 0, 0.0980392156862745) inset;
}
#u266.mouseOver {
}
#u266_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:24px;
  background:inherit;
  background-color:rgba(2, 158, 182, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 70px 0px 0px rgba(0, 0, 0, 0.0980392156862745) inset;
  -webkit-box-shadow:0px 70px 0px 0px rgba(0, 0, 0, 0.0980392156862745) inset;
  box-shadow:0px 70px 0px 0px rgba(0, 0, 0, 0.0980392156862745) inset;
}
#u266.mouseDown {
}
#u267 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
