.ax_default {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#373C3F;
  text-align:center;
  line-height:normal;
}
.wv-heading--title {
  font-size:33px;
  text-align:left;
  line-height:40px;
}
.wv-text {
  font-size:16px;
  color:#1C252B;
  text-align:left;
  line-height:24px;
}
.wv-heading--subtitle {
  font-size:23px;
  color:#718FA2;
  text-align:left;
  line-height:32px;
}
.wv-heading--section-title {
  font-family:'Helvetica';
  font-weight:bold;
  font-style:normal;
  font-size:23px;
  color:#1C252B;
  text-align:left;
  line-height:32px;
}
.wv-heading--subsection-title {
  font-family:'Helvetica';
  font-weight:bold;
  font-style:normal;
  font-size:19px;
  color:#1C252B;
  text-align:left;
  line-height:32px;
}
.wv-heading--title--display {
  font-family:'TiemposHeadline-Bold', 'Tiempos Headline Bold', 'Tiempos Headline';
  font-weight:700;
  font-style:normal;
  font-size:33px;
  text-align:left;
  line-height:40px;
}
.wv-heading--section-title--display {
  font-family:'TiemposHeadline-Bold', 'Tiempos Headline Bold', 'Tiempos Headline';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  text-align:left;
  line-height:32px;
}
.wv-button {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:24px;
}
.wv-button--primary {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:24px;
}
.wv-button--secondary {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#848F94;
  text-align:center;
  line-height:24px;
}
.paragraph {
  text-align:left;
}
.heading_2 {
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.primary_button {
  color:#FFFFFF;
}
.heading_1 {
  font-family:'Helvetica';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.label {
  font-size:14px;
  color:#000000;
  text-align:left;
}
.input {
}
.card {
}
.active_tab {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#373C3F;
  line-height:24px;
}
.box_1 {
}
.image {
}
.button {
  font-size:14px;
  color:#1A94B3;
}
.line {
}
.text_field {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
  line-height:24px;
}
.droplist {
  color:#000000;
  text-align:left;
}
.with-actions {
  font-family:'wv-icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
.wv-dropdown--menu {
  font-size:16px;
  color:#333333;
  text-align:left;
}
.horizontal_line {
}
.vertical_line {
}
.shape {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.flow_shape {
}
.wv-box {
  text-align:left;
}
.wv-notify--info {
  color:#FFFFFF;
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.wv-text--link {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#029EB6;
  text-align:left;
  line-height:normal;
}
.heading_3 {
  font-family:'Helvetica';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.menu_item {
}
.divider_lighter {
  text-align:left;
}
.icon {
}
.total {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1C252B;
  text-align:center;
}
.wv-input--xsmall {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1C252B;
  text-align:center;
  line-height:normal;
}
.text-field-left {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.inactive_tab {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#848F94;
  line-height:24px;
}
.nav-top {
  text-align:right;
}
.wv-box--welcome {
  text-align:left;
}
.wv-button--small--primary {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:24px;
}
.wv-button--small--secondary {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#848F94;
  text-align:center;
  line-height:24px;
}
.wv-text--block-label {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#687378;
  text-align:left;
  line-height:24px;
}
.wv-number {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:31px;
  color:#1C252B;
  text-align:left;
  line-height:32px;
}
.edit_box {
}
.wv-text--small {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1C252B;
  text-align:left;
  line-height:20px;
}
.wv-text--hint {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#597588;
  text-align:left;
  line-height:20px;
}
.wv-text--nav {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
.nav-box-selected {
}
.wv-text--selected {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#02C1DE;
  text-align:left;
  line-height:24px;
}
.wv-text-nav--selected {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#02C1DE;
  text-align:left;
  line-height:24px;
}
.terms-privacy {
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#9AB2D0;
  text-align:left;
}
.help-widget {
}
.wv-text--nav-small {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
.heading_4 {
  font-family:'Helvetica';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Helvetica';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Helvetica';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.html_button {
  text-align:center;
}
.wv-button__hover {
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:24px;
}
.wv-text--nav1 {
}
