body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:940px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 221, 227, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:920px;
  height:116px;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:37px;
  width:42px;
  height:42px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:42px;
  width:408px;
  height:32px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  word-wrap:break-word;
}
#u707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:79px;
  width:524px;
  height:40px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  word-wrap:break-word;
}
#u709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(2, 158, 182, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:58px;
  width:111px;
  height:40px;
}
#u709_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(2, 158, 182, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 70px 0px 0px rgba(0, 0, 0, 0.0980392156862745) inset;
  -webkit-box-shadow:0px 70px 0px 0px rgba(0, 0, 0, 0.0980392156862745) inset;
  box-shadow:0px 70px 0px 0px rgba(0, 0, 0, 0.0980392156862745) inset;
}
#u709.mouseOver {
}
#u709_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(2, 158, 182, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 70px 0px 0px rgba(0, 0, 0, 0.0980392156862745) inset;
  -webkit-box-shadow:0px 70px 0px 0px rgba(0, 0, 0, 0.0980392156862745) inset;
  box-shadow:0px 70px 0px 0px rgba(0, 0, 0, 0.0980392156862745) inset;
}
#u709.mouseDown {
}
#u710 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:8px;
  width:61px;
  white-space:nowrap;
}
